<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="callSettersOnNulls" value="true" />
		 <setting name="logImpl" value="LOG4J" />
	</settings>

	<typeAliases>
		<!-- class 상단에 @Alias 로 이름 지정 가능 -->
		<package name="kr.co.ecoletree" />
	</typeAliases>
	
<!-- 	<typeHandlers> -->
<!--   		<typeHandler handler="kr.co.ecoletree.common.typehandler.ImageTypeHandler"/> -->
<!-- 	</typeHandlers> -->

</configuration>